<div class = "formfield">
  <img class = "sellerlogo">
  <mat-card>
        <form #postForm="ngForm">
          <mat-form-field>
            <!--mat input fields-->
            <p>E-MAIL: <input matInput type="text" #email></p>
          </mat-form-field>
          <mat-form-field>
            <p>PASSWORD: <input matInput type="password" #password></p>
          </mat-form-field>
        <button mat-raised-button type="submit" (click) = 'verifyUser(email.value, password.value)'>Login</button>
        </form>
  </mat-card>
</div>

