@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


mat-form-field,
textarea {
  width: 100%;
}

.background{
  height: 700px;
  background: url("../../Images/background.jpg");
  background-position: center; 
}