<div class = "background">
    <mat-toolbar color="primary"> 
        <mat-toolbar-row>
            <a [routerLink]="['/']"><img src = "../assets/Images/logo.jpg" class="logo"></a>
            <p class="heading">CAR TRADER</p>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-raised-button [routerLink]="['/createAd']" color="primary" class = "buttons">
            <p class = "buttontext"><mat-icon>attach_money</mat-icon>&nbsp;&nbsp; Sell Your Car&nbsp;&nbsp;<mat-icon>attach_money</mat-icon></p></button>
            <button mat-raised-button [routerLink]="['/listAds']" color="primary" class = "buttons">
            <p class = "buttontext"><mat-icon>directions_car</mat-icon>&nbsp;&nbsp;View Cars&nbsp;&nbsp;<mat-icon>directions_car</mat-icon></p></button>
            <button mat-raised-button [routerLink]="['/login']" color="primary" class = "buttons">
            <p class = "buttontext"><mat-icon>directions_car</mat-icon>&nbsp;&nbsp;Your Adverts&nbsp;&nbsp;<mat-icon>directions_car</mat-icon></p></button>
        </mat-toolbar-row>
    </mat-toolbar>
<router-outlet></router-outlet>
</div>
