<mat-toolbar color="warn">Current Adverts</mat-toolbar>
<mat-accordion multi="true" *ngIf="carPosts.length > 0">
  <mat-expansion-panel *ngFor="let cp of carPosts">
    <mat-expansion-panel-header>
      {{ cp.make }}
    </mat-expansion-panel-header>
      <p>{{ cp.model }}</p>
      <p>{{ cp.year }}</p>
      <p>{{ cp.price }}</p>
      <p>{{ cp.colour }}</p>
      <p>{{ cp.fuel }}</p>
      <p>{{ cp.description }}</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button (click)="onDelete(cp._id)" mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="carPosts.length <= 0">No Adverts listed yet!</p> 
