<mat-toolbar color="accent">Current Adverts</mat-toolbar>
<mat-accordion multi="true" *ngIf="carPosts.length > 0">
  <mat-expansion-panel *ngFor="let cp of carPosts">
    <mat-expansion-panel-header>
      {{ cp.make }} {{ cp.model }}
    </mat-expansion-panel-header>
      <img class = "image" src="{{'data:image/jpg;base64,' + cp.photo}}"/>
      <div class="info">
        <p><b>Year:</b> {{ cp.year }}</p>
        <p><b>Price:</b> {{ cp.price }}</p>
        <p><b>Colour</b> {{ cp.colour }}</p>
        <p><b>Fuel:</b> {{ cp.fuel }}</p>
        <br>
        <p><b><u>Seller Information</u></b></p>
        <p><mat-icon>account_box</mat-icon>&nbsp;<b>Seller Name:</b> {{ cp.name }}</p>
        <p><mat-icon>phone</mat-icon>&nbsp;<b>Contact Number:</b> {{ cp.phone }}</p>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="carPosts.length <= 0">Loading Adverts....please wait!!!</p> 
