<div class = "formfield">
    <img class = "sellerlogo">
    <mat-card>
      <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <label>NAME:</label> <input  type="text" name="name" placeholder="e.g. Matt Smith" ngModel required #name="ngModel">
        <label>PASSWORD:</label> <input  type="password" name="password" placeholder="your password" ngModel required #password="ngModel">
        <label>PHONE NUMBER:</label> <input  type="text" name="phone" placeholder="e.g. 0875544978" ngModel required #phone="ngModel">
        <label>E-MAIL:</label> <input  type="text" name="email" placeholder="e.g. hello@123.com" ngModel required #email="ngModel">
        <label>MAKE:</label> <input  type="text" name="make" placeholder="e.g. Toyota" ngModel required #make="ngModel">
        <label>MODEL:</label> <input  type="text" name="model" placeholder="e.g. Corolla" ngModel required #model="ngModel">
        <label>YEAR:</label> <br><input  type="text" name="year" placeholder="e.g. 2015" ngModel required #year="ngModel">
        <label>PRICE:</label>  <input type="text" name="price" placeholder="e.g. 12000" ngModel required #price="ngModel">
        <label>COLOUR:</label> <input  type="text" name="colour" placeholder="e.g. Black" ngModel required #colour="ngModel">
        <label>FUEL:</label><input type="radio" name="fuel" value="Petrol" ngModel required #fuel="ngModel" checked> Petrol
          <input class = "radio" type="radio" name="fuel" value="Diesel" ngModel required #fuel="ngModel"> Diesel
        <label>IMAGE:</label> <input class = "file" type = "file" name="photo" (change) = "handleFileSelect($event)" ngModel required #photo="ngModel">
        <button mat-raised-button type="submit" id = "btn"[disabled]="postForm.invalid">
          <p class = "formInval" *ngIf="postForm.invalid">Please provide all information needed </p>
          <p class = "formval" *ngIf="postForm.valid">List Advertisement</p></button>
      </form>
    </mat-card>
  </div>