<mat-toolbar color="warn">Your Advertisements</mat-toolbar>
<mat-accordion multi="true" *ngIf="userPosts.length > 0">
  <mat-expansion-panel *ngFor="let up of userPosts">
    <mat-expansion-panel-header>
      {{ up.make }} {{ up.model }}  EMAIL: {{ up.email }}
    </mat-expansion-panel-header>
      <p>Year: {{ up.year }}</p>
      <p>Price: {{ up.price }}</p>
      <p>Colour: {{ up.colour }}</p>
      <p>Fuel: {{ up.fuel }}</p>
      <p>Contact Number: {{ up.phone }}</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button (click)="onDelete(up._id)" mat-button color="warn">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p *ngIf="carPosts.length <= 0">No Adverts listed yet!</p> 