<div class = "formfield">
    <img class = "sellerlogo"><br><br>
      <form (submit)="onEditPost(carPost)" #carPost="ngForm">
          <label>NAME:</label>  <input  type="text" name="name"  ngModel required minlength="2" #name="ngModel">
          <label>PASSWORD:</label> <input  type="password" name="password"  ngModel={{carPost.name}} required #password="ngModel">
          <label>PHONE NUMBER:</label> <input  type="text" name="phone"  ngModel={{carPost.name}} required #phone="ngModel">
          <label>E-MAIL:</label> <input  type="text" name="email"  ngModel={{carPost.name}} required #email="ngModel">
          <label>MAKE:</label> <input  type="text" name="make"  ngModel={{carPost.name}} required #make="ngModel">
          <label>MODEL:</label> <input  type="text" name="model"  ngModel={{carPost.name}} required #model="ngModel">
          <label>YEAR:</label> <br><input  type="text" name="year"  ngModel={{carPost.name}} required #year="ngModel">
          <label>PRICE:</label> <input type="text" name="price"  ngModel={{carPost.name}} required #price="ngModel">
          <label>COLOUR:</label> <input  type="text" name="colour"  ngModel={{carPost.name}} required #colour="ngModel">
          <label>FUEL:</label><input type="radio" name="fuel" value="Petrol" ngModel required #fuel="ngModel" checked> Petrol
          <input class = "radio" type="radio" name="fuel" value="Diesel" ngModel required #fuel="ngModel"> Diesel
          <label>IMAGE:</label> <input class = "file" type = "file" name="photo" (change) = "handleFileSelect($event)" ngModel={{carPost.photo}} required #photo="ngModel">
          <button mat-raised-button type="submit" id = "btn"[disabled]="carPost.invalid">
              <p class = "formInval" *ngIf="carPost.invalid">Please provide all information needed </p>
              <p class = "formval" *ngIf="carPost.valid">List Advertisement</p></button>
      </form>
</div>