<!--Home advertisement banner-->
<div class = "div1"><img src= "../../assets/Images/HomeAdvert.jpg"></div>
<!--Customer support div/mat card-->
<div> <mat-card class="card">
        <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title><b>Need Help?</b></mat-card-title>
        <mat-card-subtitle>Contact our specialists</mat-card-subtitle>
        </mat-card-header>
        <img class = "cardimg" mat-card-image src="../../assets/Images/SupportCardImg.jpg">
        <mat-card-content>
        <p>
            Contact our vehicle specialists who provide 24/7 help with any problems or questions you may have buying or selling a car on our site.
            We want the best possible service to be provided to you at all times. <br><b>Call on: 1800-5151-48</b>  <br> or <br> <b>Email us at: help@cartrader.ie.</b>
        </p>
        </mat-card-content>
    </mat-card>
</div>

<!--Social media toolbar and links-->
<mat-toolbar color="accent">
    <mat-toolbar-row>
    <span><u><b>Follow us on our Social Medias</b></u></span>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a href="https://www.facebook.com" ><img class = "socialLogo" src="../../assets/Images/social_media_logos/facebook.png"></a>
        <a href="https://www.instagram.com/" ><img class = "socialLogo" src="../../assets/Images/social_media_logos/instagram.png"></a>
        <a href="https://twitter.com/" ><img class = "socialLogo" src="../../assets/Images/social_media_logos/twitter.png"></a>
        <a href="https://www.snapchat.com/" ><img class = "socialLogo" src="../../assets/Images/social_media_logos/snapchat.png"></a>
        <a href="https://plus.google.com" ><img class = "socialLogo" src="../../assets/Images/social_media_logos/Google-Plus.png"></a>
        <a href="https://www.pinterest.ie/" ><img class = "socialLogo" src="../../assets/Images/social_media_logos/Pinterest.png"></a>
        <a href="https://mail.google.com/" ><img class = "socialLogo" src="../../assets/Images/social_media_logos/gmail.png"></a>
    </mat-toolbar-row>
</mat-toolbar>

  
  
  

